@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-style {
    @apply block px-4 py-2 text-xl my-2 w-full rounded-[10px] border outline-none border-gray-300;
  }
}
